body {
	background-image: url(./img/background-image-desktopIpad.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

canvas {
	background-color: black;
}

.startScreen {
	position: absolute;
	width: 960px;
	height: 480px;
	background-image: url(./img/9_intro_outro_screens/start/startscreen_2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	overflow: hidden;
}

.navigationContainer {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: auto;
	transition: all 255ms ease-in-out;
	transform: translateY(115px);
}

.showNavigationBar {
	transform: translateY(0px);
}

.containerOpenNavigationButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 20px;
}

.openNavigationBar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 3rem;
	background-color: rgba(255, 255, 255, 0.849);
	font-size: 2rem;
	border-radius: 0.5rem;
	transition: all 225ms ease-in-out;
	box-shadow: 2px 3px 3px rgba(157, 59, 23, 0.842);
	box-shadow: inset 0 0 0 0 rgb(255, 209, 0);
	cursor: pointer;
	z-index: 1;
}

.openNavigationBar:hover {
	transition: all 225ms ease-in-out;
	box-shadow: inset 100px 0 0 0 rgb(255, 209, 0);
}

/* .openNavigationBar:active {
	background-color: rgb(255, 209, 0);
} */

.navigationBar {
	background-image: url(./img/6_salsa_bottle/navbar-bottle.png);
	/* background-position: cover; */
	background-repeat: no-repeat;
	background-size: contain;
	width: 400px;
	height: 107px;
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
	flex-direction: row;
}

.navigationButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	background-color: rgba(255, 255, 255, 0.849);
	border-radius: 0.5rem;
	transition: all 225ms ease-in-out;
	box-shadow: inset 0 0 0 0 rgb(255, 209, 0);
	cursor: pointer;
}

.navigationButtons:hover {
	transition: all 225ms ease-in-out;
	box-shadow: inset 50px 0 0 0 rgb(255, 209, 0);
}

.d-none {
	display: none;
}
