body {
	background-image: url(./img/desert-5396906_1920.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Walter Turncoat';
}

canvas {
	background-color: black;
	display: block;
}

.startScreen {
	position: absolute;
	width: 960px;
	height: 480px;
	background-image: url(./img/9_intro_outro_screens/start/startscreen_2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	/* overflow: hidden; */
}

h1 {
	display: block;
	color: black;
	position: absolute;
	top: -100px;
	left: 0;
	right: 0;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	font-size: 3rem;
}

.menuContainerOverlay {
	position: absolute;
	width: 960px;
	height: 480px;
	overflow: hidden;
}

.menuContainer {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: auto;
	transition: all 255ms ease-in-out;
	transform: translateY(130px);
}

.showNavigationBar {
	transform: translateY(0px);
}

.containerOpenNavigationButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 20px;
}

.openNavigationBar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 3rem;
	background-color: rgba(255, 255, 255, 0.849);
	font-size: 2rem;
	border-radius: 0.5rem;
	transition: all 225ms ease-in-out;
	box-shadow: 2px 3px 3px rgba(157, 59, 23, 0.842);
	box-shadow: inset 0 0 0 0 rgb(255, 209, 0);
	cursor: pointer;
	z-index: 1;
}

.openNavigationBar:hover {
	transition: all 225ms ease-in-out;
	box-shadow: inset 100px 0 0 0 rgb(255, 209, 0);
}

.navigationBar {
	background-image: url(./img/6_salsa_bottle/navbar-bottle.png);
	/* background-position: cover; */
	background-repeat: no-repeat;
	background-size: contain;
	width: 400px;
	height: 107px;
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
	flex-direction: row;
}

.navigationButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	background-color: rgba(255, 255, 255, 0.849);
	border-radius: 0.5rem;
	transition: all 225ms ease-in-out;
	box-shadow: inset 0 0 0 0 rgb(255, 209, 0);
	cursor: pointer;
}

.navigationButtons:hover {
	transition: all 225ms ease-in-out;
	box-shadow: inset 50px 0 0 0 rgb(255, 209, 0);
}

.navigationButtons:active {
	transform: scale(0.97);
}

/* =============
	PLAY BUTTONS
 ===============*/

.mobilePlayButtonsContainer {
	position: absolute;
	bottom: 24px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.playButtonsContainer {
	display: none;
	flex-direction: column;
	width: 50px;
	height: fit-content;
	gap: 8px;
}

.rightSide {
	border-radius: 0.5rem;
	bottom: 16px;
	margin-right: 8px;
	position: absolute;
	right: 16px;
	transition: all 255ms ease-in-out;
	transform: translateX(70px);
}

.showSideButtons {
	transform: translateX(0px);
}

.leftSide {
	border-radius: 0.5rem;
	bottom: 16px;
	left: 16px;
	margin-left: 8px;
	position: absolute;
	transition: all 255ms ease-in-out;
	transform: translateX(-70px);
}
.d-none {
	display: none;
}
.showSideButtons {
	transform: translateX(0px);
}

.backgroundTransparent {
	background-color: transparent !important;
}

/* TABLETS */

@media (max-width: 1024px) {
	.playButtonsContainer {
		display: flex;
	}
}

/* SMARTPHONES */
@media only screen and (max-width: 960px) {
	canvas,
	.menuContainerOverlay,
	.startScreen {
		width: 100%;
	}

	h1 {
		display: none;
	}

	.openNavigationBar {
		height: 1.5rem;
		width: 5rem;
		font-size: 1.5rem;
	}
}

@media only screen and (max-height: 480px) {
	canvas,
	.menuContainerOverlay,
	.startScreen {
		height: 100vh;
	}
}
