body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Walter Turncoat';
	background-image: url(./img/desert-5396906_1920.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

canvas,
.endScreen,
.startScreen,
.loosesEndScreen {
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.562);
	border-radius: 20px;
}

.fullscreen {
	position: relative;
	height: 100vh;
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}

.startScreen,
.endScreen,
.loosesEndScreen,
.callToTurnScreen,
.menuContainerOverlay,
.testContainer {
	position: absolute;
	width: 100%;
	max-width: 760px;
	max-height: 480px;
	/* height: 100%; */
	aspect-ratio: auto 1 / 0.631;
}

.startScreen {
	background-image: url(./img/9_intro_outro_screens/start/startscreen_2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* overflow: hidden; */
	width: 100%;
	height: 100%;
}

/* media query nicht vergessen */
.endScreen {
	background-image: url(./img/9_intro_outro_screens/game_over/game\ over.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	width: 100%;
	height: 100%;
}

.loosesEndScreen {
	background-image: url(./img/9_intro_outro_screens/game_over/you\ lost.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	width: 100%;
	height: 100%;
}

.testContainer {
	max-height: 480px;
	max-width: 760px;
}

.callToTurnScreen {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.message {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 10rem;
}

h1 {
	display: block;
	color: black;
	position: absolute;
	top: -100px;
	left: 0;
	right: 0;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	font-size: 3rem;
}

.menuContainerOverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.menuContainer {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: auto;
	transition: all 255ms ease-in-out;
	transform: translateY(130px);
}

.showNavigationBar {
	transform: translateY(0px);
}

.containerOpenNavigationButton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 20px;
}

.openNavigationBar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 3rem;
	background-color: rgb(199, 219, 231);
	font-size: 2rem;
	border-radius: 0.5rem;
	/* transition: all 225ms ease-in-out;
	box-shadow: inset 0 0 0 0 rgb(255, 209, 0); */
	box-shadow: 2px 3px 3px rgba(157, 59, 23, 0.842);
	cursor: pointer;
	z-index: 1;
}

.navigationBar {
	background-image: url(./img/6_salsa_bottle/navbar-bottle.png);
	/* background-position: cover; */
	background-repeat: no-repeat;
	background-size: contain;
	width: 400px;
	height: 107px;
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
	flex-direction: row;
}

.navigationButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	background-color: rgb(199, 219, 231);
	border-radius: 0.5rem;
	transition: all 225ms ease-in-out;
	box-shadow: inset 0 0 0 0 rgb(255, 209, 0);
	cursor: pointer;
}

.navigationButtons:hover {
	transition: all 225ms ease-in-out;
	box-shadow: inset 50px 0 0 0 rgb(255, 209, 0);
}

.navigationButtons:active {
	transform: scale(0.97);
}

.menuButtonsContainer {
	position: relative;
}

.start {
	position: absolute;
	top: 0;
}

.fullscreenIcon {
	position: absolute;
	top: 0;
}

/* =============
	PLAY BUTTONS
 ===============*/

/* .mobilePlayButtonsContainer {
	position: absolute;
	bottom: 24px;
	display: flex;
	justify-content: space-between;
	width: 100%;
} */

.playButtonsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 70px;
	height: fit-content;
	gap: 8px;
}

span {
	display: block;
	text-align: center;
}

.rightSide {
	border-radius: 0.5rem;
	bottom: 16px;
	position: absolute;
	right: 88px;
	transition: all 255ms ease-in-out;
	transform: translateX(90px);
}

.showSideButtons {
	transform: translateX(0px);
}

.leftSide {
	border-radius: 0.5rem;
	bottom: 16px;
	left: 88px;

	position: absolute;
	transition: all 255ms ease-in-out;
	transform: translateX(-90px);
}
.d-none {
	display: none;
}
.showSideButtons {
	transform: translateX(0px);
}

.backgroundTransparent {
	background-color: transparent !important;
}

/* TABLETS */

/* @media (max-width: 1024px) {
	.playButtonsContainer {
		display: flex;
	}
} */

/* SMARTPHONES */
@media only screen and (max-width: 760px) {
	canvas,
	.menuContainerOverlay,
	.startScreen,
	.endScreen,
	.loosesEndScreen,
	.callToTurnScreen,
	.testContainer {
		width: 100vw !important;
		border-radius: unset;
	}

	h1 {
		display: none;
	}

	.callToTurnScreen {
		display: flex;
	}

	.openNavigationBar {
		height: 1.5rem;
		width: 5rem;
		font-size: 1.5rem;
	}
}

@media only screen and (max-height: 480px) {
	canvas,
	.menuContainerOverlay,
	.startScreen,
	.endScreen,
	.loosesEndScreen,
	.testContainer {
		height: 100vh !important;
	}
}
